# DJANGO
DJANGO_SECRET=key
DB_NAME=print
DB_USER=user
DB_PASSWORD=pw
DB_PORT=5432
DB_HOST=db
ENV=prod
#POSTGRES
POSTGRES_USER=user
POSTGRES_PASSWORD=pw
POSTGRES_DB=print
#PROXY_URL
PROXY_URL=http://localhost:7000
FE_URL=http://localhost
# RABBITMQ
BROKER_USERNAME=guest
BROKER_PASSWORD=guest
# SENTRY
SENTRY_DSN=abc
# FIREBASE
FCM_API_KEY=--key--
# SMTP
SMTP_EMAIL_FROM=asd@gmail.com
SMTP_PASSWORD=test1234
# ENCRYPTION
PGCRYPTO_KEY=abc
